[Unit]
Description=psiphond

[Service]
User=nobody
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/usr/local/bin/psiphon -config /usr/local/etc/psiphond/psiphond.config run
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
